<html>
	<meta charset="utf-8"/>
	<body>
		{{if .Value}}
		Hi {{.Value.RealName}}.
		<form method="post" action="/logout">
			<input type="submit" name="method" value="logout" />
		</form>
		{{else}}
		{{if .Msg}}<b>{{.Msg}}</b>{{end}}
		<form method="post" action="/login">
			<label for="name">Name:</label><br />
			<input type="text" id="userid" name="userid" value="" /><br />
			<label for="password">Password:</label><br />
			<input type="password" id="password" name="password" value="" /><br />
			<input type="submit" name="method" value="login" />
		</form>
		{{end}}
	</body>
</html>
